name: CI Workflow
on: [push]
jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: piotrpawlaczek/python-blacken@release/stable
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install --user poetry
      - run: poetry install
      - run: poetry run python -m unittest discover -v -s tests/unit